<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Inventory</title>
</head>
<body>
<div class="content">
    <div class="form-container">
        <h1 class="title">ERROR</h1>
        <p class="description">Sorry, some we have got some troubles during processing you request</p>
        <a href="../">Please, try again</a>
    </div>
</div>
</body>
</html>
