<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <title>Inventory</title>
</head>
<body>
<div class="content">
    <div class="form-container">
        <div class="form-container_header">
            <h1 class="title">Contact form</h1>
            <p class="description">Please, enter you contact information so we
                can contact you as soon as possible</p>
        </div>
        <form method="POST" class="inputs-container">
            <label class="label" for="firstName">First name</label>
            <input class="input" type="text" id="firstName" name="firstName"
                   required>
            <label class="label" for="lastName">Last name</label>
            <input class="input" type="text" id="lastName" name="lastName"
                   required>
            <label class="label" for="email">Email</label>
            <input class="input" type="email" id="email" name="email" required>
            <label class="label" for="phone">Phone</label>
            <input class="input" type="text" id="phone" name="phone" required>
            <input class="input submit" type="submit">
        </form>
    </div>
</div>
</body>
</html>
