<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <title>Inventory</title>
</head>
<body>
<div class="content">
    <div class="form-container">
        <div class="form-container_header">
            <h1 class="title">Contact form</h1>
            <p class="description">Please, enter you contact information so we
                can contact you as soon as possible</p>
        </div>
        <form id="form" method="POST" class="inputs-container">
            <label class="label required-field" for="firstName">First
                name</label>
            <input class="input" type="text" id="firstName" name="firstName"
                   maxlength="200" required>
            <label class="label required-field" for="lastName">Last name</label>
            <input class="input" type="text" id="lastName" name="lastName"
                   maxlength="200" required>
            <label class="label required-field" for="email">Email</label>
            <input class="input" type="email" id="email" name="email"
                   maxlength="200" required>
            <label class="label" for="phone">Phone</label>
            <input class="input" type="text" id="phone" pattern="[0-9]*" maxlength="10" name="phone">
            <div class="g-recaptcha" data-sitekey="<%= sitekey %>"></div>
            <input class="input submit" type="submit">
        </form>
    </div>
</div>
</body>
<script>
    const form = document.getElementById('form');
    form.addEventListener("submit", event => {
        if (!grecaptcha.getResponse()) {
            event.preventDefault();
            alert('Please check the recaptcha');
        }
    }, false);
</script>
</html>
