html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #76C5F0;
    background-image: linear-gradient(rgba(256, 256, 256, 0.5), rgba(256, 256, 256, 0.3));
}


.form-container {
    padding: 0 25px;
}

@media only screen and (min-width: 480px) {
    body {
        background-image: url("../images/background-1280×720.jpg");
        background-position: bottom;
        background-size: cover;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    .form-container {
        margin-top: 25px;
        width: 400px;
        padding: 10px 20px 40px;
        background-color: white;
        border: none;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-image: url("../images/background-1920×1080.jpg");
    }
}

@media only screen and (min-width: 1900px) {
    body {
        background-image: url("../images/background-3532×1987.jpg");
    }
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.label {
    margin: auto 5px;
}

.input {
    margin: 5px;
    line-height: 1.5em;
    font-size: large;
}

.required-field::after {
    content: "*";
    color: red;
}

.g-recaptcha {
    margin: 20px auto;
    align-self: center;
}

.submit {
    background-color: #3DB3C3;
    color: #FFFFFF;
    border: none;
    height: 3rem;
}
